<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uzairkhan.DonationApplication">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.uzairkhan.DonationApplication.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.SelectingDonationType"
            android:label="@string/title_activity_selecting_donation_type"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.VolunteerForm"
            android:label="@string/title_activity_volunteer_form"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.MapActivity"
            android:label="@string/title_activity_map_activity"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.SelectingDonationType"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.SelectingDonationType" />
        </activity>


        <activity
            android:name="com.example.uzairkhan.DonationApplication.ViewDonationRequests"
            android:label="@string/title_activity_view_donation_requests"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.DonationRequestForm"
            android:label="@string/title_activity_donation_request_form"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.AdminViewActivity"
            android:label="@string/title_activity_admin_view"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.MakeAdminActivity"
            android:label="@string/title_activity_make_admin"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.AdminViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.AdminViewActivity" />
        </activity>
        <activity
            android:name="com.example.uzairkhan.DonationApplication.AddCentreActivity"
            android:label="@string/title_activity_add_centre"
            android:parentActivityName="com.example.uzairkhan.DonationApplication.AdminViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.uzairkhan.DonationApplication.AdminViewActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlQY3vzoX_FqYmyb7-6oI_d-ZFWCA9j_M" />
    </application>

</manifest>
